* {
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

.theme-dark {
    --text: white;
    --opptext: black;
    --background: #171717;
    --primary: #d8d2b6;
    --secondary: #c8bc89;
    --accent: #ecdd69;

    /*rbga*/
    --background-rgba: 23, 23, 23;
    --primary-rgba: 216, 210, 182;
    --secondary-rgba: 200, 188, 137;
    --accent-rgba: 236, 221, 105;
}

/*this may or may not be used*/
.theme-light {
    --text: black;
    --opptext: white;
    --background: #e8e8e8;
    --primary: #494327;
    --secondary: #766a37;
    --accent: #968613;

    /*rgba*/
    --background-rgba: 232, 232, 232;
    --primary-rgba: 73, 67, 39;
    --secondary-rgba: 118, 106, 55;
    --accent-rgba: 150, 134, 19;
}


html, body {
    overflow: overlay;
    box-sizing: border-box;
    font-family: "Assistant", monospace, sans-serif;
    background: var(--background);
    color: var(--text);
}

::selection {
    color: var(--opptext);
    background: var(--accent);
}

h1, h2, h3 {
    color: var(--primary) !important;
}

b {
    font-weight: 1000 !important;
    color: var(--accent) !important;
}

a, a:link, a:visited {
    color: var(--primary) !important;
}

a:hover {
    color: var(--secondary) !important;
}

.theme-light button {
    color: white;
}

.theme-dark button {
    color: black;
}

button.follows__theme {
    background: var(--primary);
}

button.follows__theme:hover {
    background: var(--secondary);
}

.ripple {
    position: absolute;
    background: rgba(var(--accent-rgba), 0.8) !important;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
}

@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
}

footer {
    background: var(--secondary);
    color: var(--opptext);
}